* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: mediumvioletred;
}
h1 {font-family: 'Poppins', sans-serif;
font-weight: 600;
}
p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}